:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --accent: #FF5E5B;
  --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

table {
    border: 1px solid var(--primary);
    border-collapse: collapse;    
}

